In [ ]:
import pandas as pd
import time
import datetime
import numpy as np

In [2]:
df_large = pd.read_csv('./ukb22601.csv')
df_assessment_center = pd.read_csv('./ukb_assessment_center_data.csv')
df_sex_data = pd.read_csv('./ukb_sex_data.csv')

/home/abhijit/anaconda3/envs/tenv/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (504,505,506,507,508,509) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df_large

,eid,34-0.0,52-0.0,53-0.0,53-1.0,53-2.0,1558-0.0,1558-1.0,1558-2.0,2443-0.0,...,40013-29.0,41076-0.0,41078-0.0,41083-0.0,41084-0.0,41096-0.0,41101-0.0,41142-0.0,41144-0.0,41252-0.0
0,1000410,1954,6,2010-01-28,NaN,2017-02-28,2.0,NaN,2.0,0.0,...,NaN,NaN,21.0,7.0,7.0,7.0,7.0,7.0,NaN,7.0
1,1000698,1949,6,2010-03-09,NaN,2015-02-06,3.0,NaN,2.0,0.0,...,NaN,NaN,4.0,7.0,7.0,7.0,7.0,7.0,NaN,7.0
2,1000857,1962,7,2009-11-17,NaN,2017-02-20,3.0,NaN,3.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1000870,1957,5,2009-03-25,NaN,2015-10-21,5.0,NaN,3.0,0.0,...,NaN,NaN,3.0,3.0,3.0,3.0,3.0,3.0,NaN,3.0
4,1001487,1964,8,2008-01-22,NaN,2018-03-26,2.0,NaN,3.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1002256,1946,5,2008-05-13,2012-11-26,2017-09-20,5.0,4.0,5.0,0.0,...,NaN,NaN,1.0,1.0,1.0,1.0,1.0,1.0,NaN,1.0
6,1002272,1957,5,2009-10-14,NaN,2016-08-15,3.0,NaN,4.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1002359,1949,3,2007-10-04,2013-05-24,2014-08-06,2.0,3.0,3.0,0.0,...,NaN,NaN,7.0,2.0,2.0,2.0,2.0,2.0,NaN,2.0
8,1002876,1954,8,2008-02-11,NaN,2017-10-31,2.0,NaN,3.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1003082,1949,5,2009-12-02,2012-08-18,2014-10-29,5.0,5.0,5.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1004466,1950,1,2010-05-06,2013-03-14,2015-09-04,2.0,3.0,2.0,0.0,...,NaN,NaN,12.0,8.0,8.0,8.0,7.0,8.0,NaN,8.0
11,1004543,1948,11,2009-03-17,NaN,2018-03-09,4.0,NaN,4.0,0.0,...,NaN,NaN,4.0,3.0,3.0,3.0,3.0,3.0,NaN,3.0
12,1004760,1940,12,2007-07-13,2012-10-01,2017-05-05,2.0,2.0,2.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1004985,1943,5,2008-01-23,2012-08-16,2015-07-26,3.0,3.0,4.0,0.0,...,NaN,NaN,6.0,10.0,10.0,10.0,10.0,10.0,NaN,10.0
14,1005032,1963,3,2010-04-06,NaN,2015-11-21,3.0,NaN,3.0,0.0,...,NaN,NaN,7.0,6.0,6.0,6.0,6.0,6.0,NaN,6.0
15,1005188,1943,1,2009-02-04,NaN,2017-09-20,1.0,NaN,1.0,0.0,...,NaN,NaN,1.0,1.0,1.0,1.0,1.0,1.0,NaN,1.0
16,1005379,1950,2,2010-01-25,2012-11-19,2016-01-12,4.0,4.0,4.0,0.0,...,NaN,NaN,2.0,1.0,1.0,1.0,1.0,1.0,NaN,1.0
17,1005645,1958,12,2009-04-23,NaN,2017-01-14,2.0,NaN,2.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1005691,1954,1,2010-05-07,NaN,2017-06-21,4.0,NaN,2.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1006276,1946,11,2008-08-11,NaN,2017-06-12,2.0,NaN,3.0,0.0,...,NaN,NaN,2.0,2.0,2.0,2.0,2.0,2.0,NaN,2.0
20,1006486,1952,6,2008-08-08,NaN,2016-07-24,6.0,NaN,6.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,1006931,1940,6,2010-06-09,NaN,2016-06-15,1.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,1007005,1949,4,2010-06-29,NaN,2016-04-21,1.0,NaN,2.0,0.0,...,NaN,NaN,2.0,3.0,3.0,3.0,3.0,3.0,NaN,3.0
23,1007156,1957,7,2010-05-04,NaN,2015-03-30,5.0,NaN,5.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,1007400,1952,4,2008-04-08,NaN,2018-01-13,2.0,NaN,2.0,0.0,...,NaN,NaN,9.0,4.0,4.0,4.0,4.0,4.0,NaN,4.0
25,1007576,1956,7,2008-10-25,NaN,2016-02-19,3.0,NaN,2.0,0.0,...,NaN,NaN,1.0,3.0,3.0,3.0,3.0,3.0,NaN,3.0
26,1007659,1963,3,2009-05-18,NaN,2017-05-10,4.0,NaN,3.0,1.0,...,NaN,NaN,NaN,1.0,1.0,1.0,1.0,1.0,NaN,1.0
27,1007864,1954,3,2006-06-03,NaN,2018-02-17,3.0,NaN,4.0,0.0,...,NaN,NaN,NaN,2.0,2.0,2.0,2.0,2.0,NaN,2.0
28,1008067,1965,9,2009-06-02,NaN,2018-01-02,5.0,NaN,6.0,0.0,...,NaN,NaN,1.0,1.0,1.0,1.0,1.0,1.0,NaN,1.0
29,1008133,1959,9,2009-05-09,NaN,2015-07-12,3.0,NaN,3.0,0.0,...,NaN,NaN,1.0,1.0,1.0,1.0,1.0,1.0,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22029,6019116,1948,11,2009-06-18,NaN,2015-10-10,1.0,NaN,2.0,1.0,...,NaN,NaN,2.0,2.0,2.0,2.0,2.0,2.0,NaN,2.0
22030,6019891,1956,10,2008-09-16,NaN,2016-01-23,2.0,NaN,2.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22031,6020963,1940,10,2006-06-08,2012-08-29,2015-12-15,1.0,1.0,1.0,0.0,...,NaN,NaN,2.0,3.0,3.0,3.0,3.0,3.0,NaN,3.0
22032,6020980,1949,1,2007-10-02,NaN,2015-09-08,3.0,NaN,4.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22033,6021199,1951,5,2009-05-05,NaN,2016-01-25,2.0,NaN,3.0,0.0,...,NaN,NaN,15.0,6.0,6.0,6.0,6.0,6.0,NaN,6.0
22034,6021702,1954,5,2007-05-24,NaN,2015-08-22,3.0,NaN,4.0,0.0,...,NaN,NaN,39.0,10.0,10.0,10.0,10.0,10.0,NaN,10.0
22035,6022104,1939,6,2008-01-18,2013-05-05,2015-08-09,5.0,6.0,5.0,1.0,...,NaN,NaN,60.0,13.0,13.0,13.0,13.0,13.0,NaN,13.0
22036,6022459,1955,9,2009-06-06,NaN,2018-04-21,4.0,NaN,4.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22037,6022506,1939,9,2008-07-29,NaN,2017-08-22,3.0,NaN,3.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22038,6022527,1962,9,2009-04-21,NaN,2018-01-10,3.0,NaN,3.0,0.0,...,NaN,NaN,1.0,1.0,1.0,1.0,1.0,1.0,NaN,1.0
22039,6022585,1952,3,2010-06-11,NaN,2016-10-18,5.0,NaN,5.0,0.0,...,NaN,NaN,2.0,1.0,1.0,1.0,1.0,1.0,NaN,1.0
22040,6022973,1943,3,2009-04-20,2012-10-16,2015-05-11,2.0,3.0,3.0,0.0,...,NaN,NaN,1.0,3.0,3.0,3.0,3.0,3.0,NaN,3.0
22041,6023041,1947,7,2009-02-21,NaN,2017-03-03,3.0,NaN,4.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22042,6023309,1956,3,2009-04-01,NaN,2015-10-17,1.0,NaN,1.0,0.0,...,NaN,NaN,NaN,1.0,1.0,1.0,1.0,1.0,NaN,1.0
22043,6023391,1963,4,2008-07-30,NaN,2018-01-17,4.0,NaN,4.0,0.0,...,NaN,NaN,NaN,1.0,1.0,1.0,1.0,1.0,NaN,1.0
22044,6023870,1954,2,2008-08-26,2012-08-28,2017-05-17,4.0,4.0,4.0,0.0,...,NaN,NaN,1.0,2.0,2.0,2.0,2.0,2.0,NaN,2.0
22045,6024261,1945,11,2009-12-16,2012-12-05,2018-02-14,2.0,2.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22046,6024353,1957,3,2009-08-26,NaN,2015-08-20,3.0,NaN,4.0,0.0,...,NaN,NaN,1.0,1.0,1.0,1.0,1.0,1.0,NaN,1.0
22047,6024523,1962,12,2010-02-05,NaN,2015-08-05,2.0,NaN,2.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22048,6024632,1951,11,2010-06-05,2012-11-10,2014-09-30,2.0,2.0,3.0,0.0,...,NaN,NaN,NaN,1.0,1.0,1.0,1.0,1.0,NaN,1.0
22049,6024774,1943,2,2008-07-31,NaN,2015-08-11,4.0,NaN,4.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22050,6024791,1961,7,2009-12-07,NaN,2017-04-09,1.0,NaN,2.0,0.0,...,NaN,NaN,NaN,2.0,2.0,2.0,2.0,2.0,NaN,2.0
22051,6025211,1964,5,2009-06-03,NaN,2018-01-05,3.0,NaN,3.0,0.0,...,NaN,NaN,NaN,1.0,1.0,1.0,1.0,1.0,NaN,1.0
22052,6025404,1951,3,2010-03-29,NaN,2015-03-01,2.0,NaN,2.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22053,6025502,1944,11,2009-09-23,NaN,2015-08-27,1.0,NaN,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22054,6025573,1947,10,2008-08-05,NaN,2017-12-07,5.0,NaN,5.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22055,6025642,1951,11,2010-06-10,NaN,2014-11-10,1.0,NaN,3.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22056,6025746,1953,5,2008-07-24,2013-01-22,2018-03-23,4.0,3.0,2.0,0.0,...,NaN,NaN,1.0,1.0,1.0,1.0,1.0,1.0,NaN,1.0
22057,6025801,1959,11,2008-07-01,NaN,2016-03-21,2.0,NaN,2.0,0.0,...,NaN,NaN,2.0,3.0,3.0,3.0,3.0,3.0,NaN,3.0
22058,6025905,1940,2,2007-11-29,2012-09-18,2016-11-08,1.0,3.0,NaN,0.0,...,NaN,NaN,12.0,4.0,4.0,4.0,4.0,4.0,NaN,4.0

In [4]:
df_interim = pd.merge(df_assessment_center, df_sex_data, how='inner', on=['eid'])
df_concated = pd.merge(df_large, df_interim, how='inner', on=['eid'])

In [5]:
df_concated

,eid,34-0.0,52-0.0,53-0.0,53-1.0,53-2.0,1558-0.0,1558-1.0,1558-2.0,2443-0.0,...,41096-0.0,41101-0.0,41142-0.0,41144-0.0,41252-0.0,54-0.0,54-1.0,54-2.0,54-3.0,31-0.0
0,1000410,1954,6,2010-01-28,NaN,2017-02-28,2.0,NaN,2.0,0.0,...,7.0,7.0,7.0,NaN,7.0,11016,NaN,11025.0,NaN,1
1,1000698,1949,6,2010-03-09,NaN,2015-02-06,3.0,NaN,2.0,0.0,...,7.0,7.0,7.0,NaN,7.0,11016,NaN,11025.0,NaN,0
2,1000857,1962,7,2009-11-17,NaN,2017-02-20,3.0,NaN,3.0,0.0,...,NaN,NaN,NaN,NaN,NaN,11014,NaN,11025.0,11025.0,0
3,1000870,1957,5,2009-03-25,NaN,2015-10-21,5.0,NaN,3.0,0.0,...,3.0,3.0,3.0,NaN,3.0,11016,NaN,11025.0,NaN,1
4,1001487,1964,8,2008-01-22,NaN,2018-03-26,2.0,NaN,3.0,0.0,...,NaN,NaN,NaN,NaN,NaN,11005,NaN,11027.0,NaN,0
5,1002256,1946,5,2008-05-13,2012-11-26,2017-09-20,5.0,4.0,5.0,0.0,...,1.0,1.0,1.0,NaN,1.0,11008,11024.0,11025.0,NaN,1
6,1002272,1957,5,2009-10-14,NaN,2016-08-15,3.0,NaN,4.0,0.0,...,NaN,NaN,NaN,NaN,NaN,11016,NaN,11025.0,NaN,1
7,1002359,1949,3,2007-10-04,2013-05-24,2014-08-06,2.0,3.0,3.0,0.0,...,2.0,2.0,2.0,NaN,2.0,11001,11024.0,11025.0,NaN,0
8,1002876,1954,8,2008-02-11,NaN,2017-10-31,2.0,NaN,3.0,0.0,...,NaN,NaN,NaN,NaN,NaN,11009,NaN,11027.0,NaN,0
9,1003082,1949,5,2009-12-02,2012-08-18,2014-10-29,5.0,5.0,5.0,0.0,...,NaN,NaN,NaN,NaN,NaN,11016,11024.0,11025.0,NaN,1
10,1004466,1950,1,2010-05-06,2013-03-14,2015-09-04,2.0,3.0,2.0,0.0,...,8.0,7.0,8.0,NaN,8.0,11014,11024.0,11025.0,NaN,1
11,1004543,1948,11,2009-03-17,NaN,2018-03-09,4.0,NaN,4.0,0.0,...,3.0,3.0,3.0,NaN,3.0,11010,NaN,11025.0,NaN,1
12,1004760,1940,12,2007-07-13,2012-10-01,2017-05-05,2.0,2.0,2.0,0.0,...,NaN,NaN,NaN,NaN,NaN,11001,11024.0,11025.0,11025.0,0
13,1004985,1943,5,2008-01-23,2012-08-16,2015-07-26,3.0,3.0,4.0,0.0,...,10.0,10.0,10.0,NaN,10.0,11008,11024.0,11025.0,NaN,0
14,1005032,1963,3,2010-04-06,NaN,2015-11-21,3.0,NaN,3.0,0.0,...,6.0,6.0,6.0,NaN,6.0,11021,NaN,11025.0,NaN,0
15,1005188,1943,1,2009-02-04,NaN,2017-09-20,1.0,NaN,1.0,0.0,...,1.0,1.0,1.0,NaN,1.0,11009,NaN,11027.0,NaN,1
16,1005379,1950,2,2010-01-25,2012-11-19,2016-01-12,4.0,4.0,4.0,0.0,...,1.0,1.0,1.0,NaN,1.0,11016,11024.0,11025.0,NaN,1
17,1005645,1958,12,2009-04-23,NaN,2017-01-14,2.0,NaN,2.0,0.0,...,NaN,NaN,NaN,NaN,NaN,11010,NaN,11025.0,NaN,0
18,1005691,1954,1,2010-05-07,NaN,2017-06-21,4.0,NaN,2.0,0.0,...,NaN,NaN,NaN,NaN,NaN,11021,NaN,11025.0,NaN,1
19,1006276,1946,11,2008-08-11,NaN,2017-06-12,2.0,NaN,3.0,0.0,...,2.0,2.0,2.0,NaN,2.0,11008,NaN,11025.0,11025.0,1
20,1006486,1952,6,2008-08-08,NaN,2016-07-24,6.0,NaN,6.0,0.0,...,NaN,NaN,NaN,NaN,NaN,11008,NaN,11025.0,NaN,1
21,1006931,1940,6,2010-06-09,NaN,2016-06-15,1.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,11014,NaN,11025.0,NaN,1
22,1007005,1949,4,2010-06-29,NaN,2016-04-21,1.0,NaN,2.0,0.0,...,3.0,3.0,3.0,NaN,3.0,11014,NaN,11025.0,NaN,1
23,1007156,1957,7,2010-05-04,NaN,2015-03-30,5.0,NaN,5.0,0.0,...,NaN,NaN,NaN,NaN,NaN,11021,NaN,11025.0,NaN,0
24,1007400,1952,4,2008-04-08,NaN,2018-01-13,2.0,NaN,2.0,0.0,...,4.0,4.0,4.0,NaN,4.0,11008,NaN,11025.0,NaN,0
25,1007576,1956,7,2008-10-25,NaN,2016-02-19,3.0,NaN,2.0,0.0,...,3.0,3.0,3.0,NaN,3.0,11008,NaN,11025.0,NaN,0
26,1007659,1963,3,2009-05-18,NaN,2017-05-10,4.0,NaN,3.0,1.0,...,1.0,1.0,1.0,NaN,1.0,11017,NaN,11027.0,NaN,0
27,1007864,1954,3,2006-06-03,NaN,2018-02-17,3.0,NaN,4.0,0.0,...,2.0,2.0,2.0,NaN,2.0,10003,NaN,11025.0,NaN,0
28,1008067,1965,9,2009-06-02,NaN,2018-01-02,5.0,NaN,6.0,0.0,...,1.0,1.0,1.0,NaN,1.0,11017,NaN,11027.0,NaN,0
29,1008133,1959,9,2009-05-09,NaN,2015-07-12,3.0,NaN,3.0,0.0,...,1.0,1.0,1.0,NaN,1.0,11010,NaN,11025.0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22028,6019116,1948,11,2009-06-18,NaN,2015-10-10,1.0,NaN,2.0,1.0,...,2.0,2.0,2.0,NaN,2.0,11013,NaN,11025.0,NaN,1
22029,6019891,1956,10,2008-09-16,NaN,2016-01-23,2.0,NaN,2.0,0.0,...,NaN,NaN,NaN,NaN,NaN,11013,NaN,11025.0,NaN,0
22030,6020963,1940,10,2006-06-08,2012-08-29,2015-12-15,1.0,1.0,1.0,0.0,...,3.0,3.0,3.0,NaN,3.0,10003,11024.0,11025.0,NaN,1
22031,6020980,1949,1,2007-10-02,NaN,2015-09-08,3.0,NaN,4.0,0.0,...,NaN,NaN,NaN,NaN,NaN,11001,NaN,11025.0,NaN,0
22032,6021199,1951,5,2009-05-05,NaN,2016-01-25,2.0,NaN,3.0,0.0,...,6.0,6.0,6.0,NaN,6.0,11016,NaN,11025.0,NaN,1
22033,6021702,1954,5,2007-05-24,NaN,2015-08-22,3.0,NaN,4.0,0.0,...,10.0,10.0,10.0,NaN,10.0,11001,NaN,11025.0,NaN,0
22034,6022104,1939,6,2008-01-18,2013-05-05,2015-08-09,5.0,6.0,5.0,1.0,...,13.0,13.0,13.0,NaN,13.0,11008,11024.0,11025.0,NaN,1
22035,6022459,1955,9,2009-06-06,NaN,2018-04-21,4.0,NaN,4.0,0.0,...,NaN,NaN,NaN,NaN,NaN,11017,NaN,11027.0,NaN,0
22036,6022506,1939,9,2008-07-29,NaN,2017-08-22,3.0,NaN,3.0,0.0,...,NaN,NaN,NaN,NaN,NaN,11009,NaN,11027.0,NaN,0
22037,6022527,1962,9,2009-04-21,NaN,2018-01-10,3.0,NaN,3.0,0.0,...,1.0,1.0,1.0,NaN,1.0,11013,NaN,11025.0,NaN,0
22038,6022585,1952,3,2010-06-11,NaN,2016-10-18,5.0,NaN,5.0,0.0,...,1.0,1.0,1.0,NaN,1.0,11021,NaN,11025.0,NaN,0
22039,6022973,1943,3,2009-04-20,2012-10-16,2015-05-11,2.0,3.0,3.0,0.0,...,3.0,3.0,3.0,NaN,3.0,11010,11024.0,11025.0,NaN,1
22040,6023041,1947,7,2009-02-21,NaN,2017-03-03,3.0,NaN,4.0,0.0,...,NaN,NaN,NaN,NaN,NaN,11010,NaN,11025.0,11025.0,0
22041,6023309,1956,3,2009-04-01,NaN,2015-10-17,1.0,NaN,1.0,0.0,...,1.0,1.0,1.0,NaN,1.0,11010,NaN,11025.0,NaN,0
22042,6023391,1963,4,2008-07-30,NaN,2018-01-17,4.0,NaN,4.0,0.0,...,1.0,1.0,1.0,NaN,1.0,11009,NaN,11027.0,NaN,1
22043,6023870,1954,2,2008-08-26,2012-08-28,2017-05-17,4.0,4.0,4.0,0.0,...,2.0,2.0,2.0,NaN,2.0,11008,11024.0,11025.0,NaN,0
22044,6024261,1945,11,2009-12-16,2012-12-05,2018-02-14,2.0,2.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,11016,11024.0,11025.0,NaN,1
22045,6024353,1957,3,2009-08-26,NaN,2015-08-20,3.0,NaN,4.0,0.0,...,1.0,1.0,1.0,NaN,1.0,11013,NaN,11025.0,NaN,1
22046,6024523,1962,12,2010-02-05,NaN,2015-08-05,2.0,NaN,2.0,0.0,...,NaN,NaN,NaN,NaN,NaN,11021,NaN,11025.0,NaN,1
22047,6024632,1951,11,2010-06-05,2012-11-10,2014-09-30,2.0,2.0,3.0,0.0,...,1.0,1.0,1.0,NaN,1.0,11014,11024.0,11025.0,NaN,1
22048,6024774,1943,2,2008-07-31,NaN,2015-08-11,4.0,NaN,4.0,0.0,...,NaN,NaN,NaN,NaN,NaN,11008,NaN,11025.0,NaN,0
22049,6024791,1961,7,2009-12-07,NaN,2017-04-09,1.0,NaN,2.0,0.0,...,2.0,2.0,2.0,NaN,2.0,11016,NaN,11025.0,NaN,1
22050,6025211,1964,5,2009-06-03,NaN,2018-01-05,3.0,NaN,3.0,0.0,...,1.0,1.0,1.0,NaN,1.0,11017,NaN,11027.0,NaN,0
22051,6025404,1951,3,2010-03-29,NaN,2015-03-01,2.0,NaN,2.0,0.0,...,NaN,NaN,NaN,NaN,NaN,11016,NaN,11025.0,NaN,1
22052,6025502,1944,11,2009-09-23,NaN,2015-08-27,1.0,NaN,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,11016,NaN,11025.0,NaN,1
22053,6025573,1947,10,2008-08-05,NaN,2017-12-07,5.0,NaN,5.0,0.0,...,NaN,NaN,NaN,NaN,NaN,11009,NaN,11027.0,NaN,0
22054,6025642,1951,11,2010-06-10,NaN,2014-11-10,1.0,NaN,3.0,0.0,...,NaN,NaN,NaN,NaN,NaN,11021,NaN,11025.0,NaN,1
22055,6025746,1953,5,2008-07-24,2013-01-22,2018-03-23,4.0,3.0,2.0,0.0,...,1.0,1.0,1.0,NaN,1.0,11006,11024.0,11025.0,NaN,0
22056,6025801,1959,11,2008-07-01,NaN,2016-03-21,2.0,NaN,2.0,0.0,...,3.0,3.0,3.0,NaN,3.0,11010,NaN,11025.0,NaN,0
22057,6025905,1940,2,2007-11-29,2012-09-18,2016-11-08,1.0,3.0,NaN,0.0,...,4.0,4.0,4.0,NaN,4.0,11001,11024.0,11025.0,NaN,0

In [6]:
df_concated.columns.values

array(['eid', '34-0.0', '52-0.0', '53-0.0', '53-1.0', '53-2.0',
       '1558-0.0', '1558-1.0', '1558-2.0', '2443-0.0', '2443-1.0',
       '2443-2.0', '2453-0.0', '2453-1.0', '2453-2.0', '2976-0.0',
       '2976-1.0', '2976-2.0', '2986-0.0', '2986-1.0', '2986-2.0',
       '5901-0.0', '5901-1.0', '5901-2.0', '6150-0.0', '6150-0.1',
       '6150-0.2', '6150-0.3', '6150-1.0', '6150-1.1', '6150-1.2',
       '6150-1.3', '6150-2.0', '6150-2.1', '6150-2.2', '6150-2.3',
       '6177-0.0', '6177-0.1', '6177-0.2', '6177-1.0', '6177-1.1',
       '6177-1.2', '6177-2.0', '6177-2.1', '6177-2.2', '12188-2.0',
       '20001-0.0', '20001-0.1', '20001-0.2', '20001-0.3', '20001-0.4',
       '20001-0.5', '20001-1.0', '20001-1.1', '20001-1.2', '20001-1.3',
       '20001-1.4', '20001-1.5', '20001-2.0', '20001-2.1', '20001-2.2',
       '20001-2.3', '20001-2.4', '20001-2.5', '20002-0.0', '20002-0.1',
       '20002-0.2', '20002-0.3', '20002-0.4', '20002-0.5', '20002-0.6',
       '20002-0.7', '20002-0.8', '20002-0.9', '20002-0.10', '20002-0.11',
       '20002-0.12', '20002-0.13', '20002-0.14', '20002-0.15',
       '20002-0.16', '20002-0.17', '20002-0.18', '20002-0.19',
       '20002-0.20', '20002-0.21', '20002-0.22', '20002-0.23',
       '20002-0.24', '20002-0.25', '20002-0.26', '20002-0.27',
       '20002-0.28', '20002-1.0', '20002-1.1', '20002-1.2', '20002-1.3',
       '20002-1.4', '20002-1.5', '20002-1.6', '20002-1.7', '20002-1.8',
       '20002-1.9', '20002-1.10', '20002-1.11', '20002-1.12',
       '20002-1.13', '20002-1.14', '20002-1.15', '20002-1.16',
       '20002-1.17', '20002-1.18', '20002-1.19', '20002-1.20',
       '20002-1.21', '20002-1.22', '20002-1.23', '20002-1.24',
       '20002-1.25', '20002-1.26', '20002-1.27', '20002-1.28',
       '20002-2.0', '20002-2.1', '20002-2.2', '20002-2.3', '20002-2.4',
       '20002-2.5', '20002-2.6', '20002-2.7', '20002-2.8', '20002-2.9',
       '20002-2.10', '20002-2.11', '20002-2.12', '20002-2.13',
       '20002-2.14', '20002-2.15', '20002-2.16', '20002-2.17',
       '20002-2.18', '20002-2.19', '20002-2.20', '20002-2.21',
       '20002-2.22', '20002-2.23', '20002-2.24', '20002-2.25',
       '20002-2.26', '20002-2.27', '20002-2.28', '20003-0.0', '20003-0.1',
       '20003-0.2', '20003-0.3', '20003-0.4', '20003-0.5', '20003-0.6',
       '20003-0.7', '20003-0.8', '20003-0.9', '20003-0.10', '20003-0.11',
       '20003-0.12', '20003-0.13', '20003-0.14', '20003-0.15',
       '20003-0.16', '20003-0.17', '20003-0.18', '20003-0.19',
       '20003-0.20', '20003-0.21', '20003-0.22', '20003-0.23',
       '20003-0.24', '20003-0.25', '20003-0.26', '20003-0.27',
       '20003-0.28', '20003-0.29', '20003-0.30', '20003-0.31',
       '20003-0.32', '20003-0.33', '20003-0.34', '20003-0.35',
       '20003-0.36', '20003-0.37', '20003-0.38', '20003-0.39',
       '20003-0.40', '20003-0.41', '20003-0.42', '20003-0.43',
       '20003-0.44', '20003-0.45', '20003-0.46', '20003-0.47',
       '20003-1.0', '20003-1.1', '20003-1.2', '20003-1.3', '20003-1.4',
       '20003-1.5', '20003-1.6', '20003-1.7', '20003-1.8', '20003-1.9',
       '20003-1.10', '20003-1.11', '20003-1.12', '20003-1.13',
       '20003-1.14', '20003-1.15', '20003-1.16', '20003-1.17',
       '20003-1.18', '20003-1.19', '20003-1.20', '20003-1.21',
       '20003-1.22', '20003-1.23', '20003-1.24', '20003-1.25',
       '20003-1.26', '20003-1.27', '20003-1.28', '20003-1.29',
       '20003-1.30', '20003-1.31', '20003-1.32', '20003-1.33',
       '20003-1.34', '20003-1.35', '20003-1.36', '20003-1.37',
       '20003-1.38', '20003-1.39', '20003-1.40', '20003-1.41',
       '20003-1.42', '20003-1.43', '20003-1.44', '20003-1.45',
       '20003-1.46', '20003-1.47', '20003-2.0', '20003-2.1', '20003-2.2',
       '20003-2.3', '20003-2.4', '20003-2.5', '20003-2.6', '20003-2.7',
       '20003-2.8', '20003-2.9', '20003-2.10', '20003-2.11', '20003-2.12',
       '20003-2.13', '20003-2.14', '20003-2.15', '20003-2.16',
       '20003-2.17', '20003-2.18', '20003-2.19', '20003-2.20',
       '20003-2.21', '20003-2.22', '20003-2.23', '20003-2.24',
       '20003-2.25', '20003-2.26', '20003-2.27', '20003-2.28',
       '20003-2.29', '20003-2.30', '20003-2.31', '20003-2.32',
       '20003-2.33', '20003-2.34', '20003-2.35', '20003-2.36',
       '20003-2.37', '20003-2.38', '20003-2.39', '20003-2.40',
       '20003-2.41', '20003-2.42', '20003-2.43', '20003-2.44',
       '20003-2.45', '20003-2.46', '20003-2.47', '20008-0.0', '20008-0.1',
       '20008-0.2', '20008-0.3', '20008-0.4', '20008-0.5', '20008-0.6',
       '20008-0.7', '20008-0.8', '20008-0.9', '20008-0.10', '20008-0.11',
       '20008-0.12', '20008-0.13', '20008-0.14', '20008-0.15',
       '20008-0.16', '20008-0.17', '20008-0.18', '20008-0.19',
       '20008-0.20', '20008-0.21', '20008-0.22', '20008-0.23',
       '20008-0.24', '20008-0.25', '20008-0.26', '20008-0.27',
       '20008-0.28', '20008-1.0', '20008-1.1', '20008-1.2', '20008-1.3',
       '20008-1.4', '20008-1.5', '20008-1.6', '20008-1.7', '20008-1.8',
       '20008-1.9', '20008-1.10', '20008-1.11', '20008-1.12',
       '20008-1.13', '20008-1.14', '20008-1.15', '20008-1.16',
       '20008-1.17', '20008-1.18', '20008-1.19', '20008-1.20',
       '20008-1.21', '20008-1.22', '20008-1.23', '20008-1.24',
       '20008-1.25', '20008-1.26', '20008-1.27', '20008-1.28',
       '20008-2.0', '20008-2.1', '20008-2.2', '20008-2.3', '20008-2.4',
       '20008-2.5', '20008-2.6', '20008-2.7', '20008-2.8', '20008-2.9',
       '20008-2.10', '20008-2.11', '20008-2.12', '20008-2.13',
       '20008-2.14', '20008-2.15', '20008-2.16', '20008-2.17',
       '20008-2.18', '20008-2.19', '20008-2.20', '20008-2.21',
       '20008-2.22', '20008-2.23', '20008-2.24', '20008-2.25',
       '20008-2.26', '20008-2.27', '20008-2.28', '20013-0.0', '20013-0.1',
       '20013-0.2', '20013-0.3', '20013-0.4', '20013-0.5', '20013-0.6',
       '20013-0.7', '20013-0.8', '20013-0.9', '20013-0.10', '20013-0.11',
       '20013-0.12', '20013-0.13', '20013-0.14', '20013-0.15',
       '20013-0.16', '20013-0.17', '20013-0.18', '20013-0.19',
       '20013-0.20', '20013-0.21', '20013-0.22', '20013-0.23',
       '20013-0.24', '20013-0.25', '20013-0.26', '20013-0.27',
       '20013-0.28', '20013-1.0', '20013-1.1', '20013-1.2', '20013-1.3',
       '20013-1.4', '20013-1.5', '20013-1.6', '20013-1.7', '20013-1.8',
       '20013-1.9', '20013-1.10', '20013-1.11', '20013-1.12',
       '20013-1.13', '20013-1.14', '20013-1.15', '20013-1.16',
       '20013-1.17', '20013-1.18', '20013-1.19', '20013-1.20',
       '20013-1.21', '20013-1.22', '20013-1.23', '20013-1.24',
       '20013-1.25', '20013-1.26', '20013-1.27', '20013-1.28',
       '20013-2.0', '20013-2.1', '20013-2.2', '20013-2.3', '20013-2.4',
       '20013-2.5', '20013-2.6', '20013-2.7', '20013-2.8', '20013-2.9',
       '20013-2.10', '20013-2.11', '20013-2.12', '20013-2.13',
       '20013-2.14', '20013-2.15', '20013-2.16', '20013-2.17',
       '20013-2.18', '20013-2.19', '20013-2.20', '20013-2.21',
       '20013-2.22', '20013-2.23', '20013-2.24', '20013-2.25',
       '20013-2.26', '20013-2.27', '20013-2.28', '20116-0.0', '20116-1.0',
       '20116-2.0', '20201-2.0', '20202-2.0', '20203-2.0', '20204-2.0',
       '20206-2.0', '20252-2.0', '21001-0.0', '21001-1.0', '21001-2.0',
       '21003-0.0', '21003-1.0', '21003-2.0', '22403-2.0', '22404-2.0',
       '22405-2.0', '22406-2.0', '22407-2.0', '22408-2.0', '22409-2.0',
       '22410-2.0', '22411-2.0', '22412-2.0', '22412-2.1', '22413-2.0',
       '22413-2.1', '22414-2.0', '22414-2.1', '40006-0.0', '40006-1.0',
       '40006-2.0', '40006-3.0', '40006-4.0', '40006-5.0', '40006-6.0',
       '40006-7.0', '40006-8.0', '40006-9.0', '40006-10.0', '40006-11.0',
       '40006-12.0', '40006-13.0', '40006-14.0', '40006-15.0',
       '40006-16.0', '40006-17.0', '40006-18.0', '40006-19.0',
       '40006-20.0', '40006-21.0', '40006-22.0', '40006-23.0',
       '40006-24.0', '40006-25.0', '40006-26.0', '40006-27.0',
       '40006-28.0', '40006-29.0', '40006-30.0', '40006-31.0',
       '40008-0.0', '40008-1.0', '40008-2.0', '40008-3.0', '40008-4.0',
       '40008-5.0', '40008-6.0', '40008-7.0', '40008-8.0', '40008-9.0',
       '40008-10.0', '40008-11.0', '40008-12.0', '40008-13.0',
       '40008-14.0', '40008-15.0', '40008-16.0', '40008-17.0',
       '40008-18.0', '40008-19.0', '40008-20.0', '40008-21.0',
       '40008-22.0', '40008-23.0', '40008-24.0', '40008-25.0',
       '40008-26.0', '40008-27.0', '40008-28.0', '40008-29.0',
       '40008-30.0', '40008-31.0', '40013-0.0', '40013-1.0', '40013-2.0',
       '40013-3.0', '40013-4.0', '40013-5.0', '40013-6.0', '40013-7.0',
       '40013-8.0', '40013-9.0', '40013-10.0', '40013-11.0', '40013-12.0',
       '40013-13.0', '40013-14.0', '40013-15.0', '40013-16.0',
       '40013-17.0', '40013-18.0', '40013-19.0', '40013-20.0',
       '40013-21.0', '40013-22.0', '40013-23.0', '40013-24.0',
       '40013-25.0', '40013-26.0', '40013-27.0', '40013-28.0',
       '40013-29.0', '41076-0.0', '41078-0.0', '41083-0.0', '41084-0.0',
       '41096-0.0', '41101-0.0', '41142-0.0', '41144-0.0', '41252-0.0',
       '54-0.0', '54-1.0', '54-2.0', '54-3.0', '31-0.0'], dtype=object)

In [8]:
to_include_later = {'20002-2.*':'non_cancer_disease', '20003-2.*': 'treatment_medications'}
acquired_columns = {'eid':'volume_id', '34-0.0': 'birth_year', '52-0.0':'birth_month', '53-2.0':'assesment_year',
                    '31-0.0': 'sex', '54-2.0': 'assesment_center_id', '1558-2.0': 'alcohol_intake_freq', 
                   '2443-2.0':'diabetes_status', '6177-2.0': 'med_1', '6177-2.1': 'med_2', '6177-2.2': 'med_3',
                   '20116-2.0': 'smoking_status', '21001-2.0': 'bmi'}

data_encoding_ids = {'birth_month':'8',
                    'sex':'9', 'alcohol_intake_freq':'100402', 
                    'diabetes_status':'100349', 'med_1': '100625', 'med_2': '100625', 
                    'med_3': '100625', 'smoking_status': '90'}

In [9]:
df_imp = df_concated[list(acquired_columns.keys())]

In [10]:
df = df_imp.rename(columns=acquired_columns)

In [11]:
df

,volume_id,birth_year,birth_month,assesment_year,sex,assesment_center_id,alcohol_intake_freq,diabetes_status,med_1,med_2,med_3,smoking_status,bmi
0,1000410,1954,6,2017-02-28,1,11025.0,2.0,0.0,2.0,NaN,NaN,0.0,27.2310
1,1000698,1949,6,2015-02-06,0,11025.0,2.0,0.0,NaN,NaN,NaN,0.0,28.6813
2,1000857,1962,7,2017-02-20,0,11025.0,3.0,0.0,NaN,NaN,NaN,0.0,21.7993
3,1000870,1957,5,2015-10-21,1,11025.0,3.0,0.0,-7.0,NaN,NaN,0.0,38.2041
4,1001487,1964,8,2018-03-26,0,11027.0,3.0,0.0,NaN,NaN,NaN,0.0,NaN
5,1002256,1946,5,2017-09-20,1,11025.0,5.0,1.0,1.0,2.0,NaN,1.0,30.0454
6,1002272,1957,5,2016-08-15,1,11025.0,4.0,0.0,-7.0,NaN,NaN,0.0,32.3934
7,1002359,1949,3,2014-08-06,0,11025.0,3.0,0.0,NaN,NaN,NaN,1.0,23.6115
8,1002876,1954,8,2017-10-31,0,11027.0,3.0,0.0,NaN,NaN,NaN,0.0,25.4813
9,1003082,1949,5,2014-10-29,1,11025.0,5.0,0.0,2.0,NaN,NaN,1.0,27.1400
10,1004466,1950,1,2015-09-04,1,11025.0,2.0,0.0,1.0,2.0,NaN,0.0,31.0477
11,1004543,1948,11,2018-03-09,1,11025.0,4.0,0.0,-7.0,NaN,NaN,0.0,23.3577
12,1004760,1940,12,2017-05-05,0,11025.0,2.0,0.0,NaN,NaN,NaN,0.0,25.2363
13,1004985,1943,5,2015-07-26,0,11025.0,4.0,0.0,NaN,NaN,NaN,-3.0,27.2118
14,1005032,1963,3,2015-11-21,0,11025.0,3.0,0.0,NaN,NaN,NaN,0.0,24.9182
15,1005188,1943,1,2017-09-20,1,11027.0,1.0,0.0,1.0,2.0,NaN,1.0,27.9543
16,1005379,1950,2,2016-01-12,1,11025.0,4.0,0.0,-7.0,NaN,NaN,0.0,27.2146
17,1005645,1958,12,2017-01-14,0,11025.0,2.0,0.0,NaN,NaN,NaN,1.0,25.1024
18,1005691,1954,1,2017-06-21,1,11025.0,2.0,0.0,2.0,NaN,NaN,1.0,29.9237
19,1006276,1946,11,2017-06-12,1,11025.0,3.0,0.0,2.0,NaN,NaN,0.0,26.0065
20,1006486,1952,6,2016-07-24,1,11025.0,6.0,0.0,-7.0,NaN,NaN,1.0,29.2641
21,1006931,1940,6,2016-06-15,1,11025.0,NaN,NaN,NaN,NaN,NaN,NaN,25.2268
22,1007005,1949,4,2016-04-21,1,11025.0,2.0,1.0,1.0,2.0,NaN,1.0,27.7657
23,1007156,1957,7,2015-03-30,0,11025.0,5.0,0.0,NaN,NaN,NaN,0.0,25.2932
24,1007400,1952,4,2018-01-13,0,11025.0,2.0,0.0,NaN,NaN,NaN,0.0,24.7657
25,1007576,1956,7,2016-02-19,0,11025.0,2.0,0.0,NaN,NaN,NaN,0.0,24.9499
26,1007659,1963,3,2017-05-10,0,11027.0,3.0,1.0,NaN,NaN,NaN,0.0,26.1774
27,1007864,1954,3,2018-02-17,0,11025.0,4.0,0.0,NaN,NaN,NaN,0.0,21.2825
28,1008067,1965,9,2018-01-02,0,11027.0,6.0,0.0,NaN,NaN,NaN,0.0,NaN
29,1008133,1959,9,2015-07-12,0,11025.0,3.0,0.0,NaN,NaN,NaN,0.0,36.1700
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22028,6019116,1948,11,2015-10-10,1,11025.0,2.0,1.0,1.0,2.0,NaN,1.0,35.2327
22029,6019891,1956,10,2016-01-23,0,11025.0,2.0,0.0,NaN,NaN,NaN,0.0,26.4308
22030,6020963,1940,10,2015-12-15,1,11025.0,1.0,0.0,2.0,NaN,NaN,0.0,29.8295
22031,6020980,1949,1,2015-09-08,0,11025.0,4.0,0.0,NaN,NaN,NaN,0.0,26.8165
22032,6021199,1951,5,2016-01-25,1,11025.0,3.0,0.0,1.0,NaN,NaN,1.0,29.6702
22033,6021702,1954,5,2015-08-22,0,11025.0,4.0,0.0,NaN,NaN,NaN,0.0,34.4079
22034,6022104,1939,6,2015-08-09,1,11025.0,5.0,1.0,1.0,2.0,NaN,0.0,28.0420
22035,6022459,1955,9,2018-04-21,0,11027.0,4.0,0.0,NaN,NaN,NaN,1.0,NaN
22036,6022506,1939,9,2017-08-22,0,11027.0,3.0,0.0,NaN,NaN,NaN,1.0,23.8017
22037,6022527,1962,9,2018-01-10,0,11025.0,3.0,0.0,NaN,NaN,NaN,0.0,22.0188
22038,6022585,1952,3,2016-10-18,0,11025.0,5.0,0.0,NaN,NaN,NaN,0.0,32.4584
22039,6022973,1943,3,2015-05-11,1,11025.0,3.0,0.0,1.0,NaN,NaN,0.0,29.9654
22040,6023041,1947,7,2017-03-03,0,11025.0,4.0,0.0,NaN,NaN,NaN,0.0,25.4501
22041,6023309,1956,3,2015-10-17,0,11025.0,1.0,0.0,NaN,NaN,NaN,1.0,28.5384
22042,6023391,1963,4,2018-01-17,1,11027.0,4.0,0.0,-7.0,NaN,NaN,0.0,29.2723
22043,6023870,1954,2,2017-05-17,0,11025.0,4.0,0.0,NaN,NaN,NaN,1.0,23.6246
22044,6024261,1945,11,2018-02-14,1,11025.0,1.0,0.0,-7.0,NaN,NaN,0.0,22.3299
22045,6024353,1957,3,2015-08-20,1,11025.0,4.0,0.0,1.0,NaN,NaN,0.0,27.0416
22046,6024523,1962,12,2015-08-05,1,11025.0,2.0,0.0,-7.0,NaN,NaN,0.0,33.2748
22047,6024632,1951,11,2014-09-30,1,11025.0,3.0,0.0,-7.0,NaN,NaN,1.0,24.8445
22048,6024774,1943,2,2015-08-11,0,11025.0,4.0,0.0,NaN,NaN,NaN,0.0,27.7627
22049,6024791,1961,7,2017-04-09,1,11025.0,2.0,0.0,-7.0,NaN,NaN,0.0,24.8712
22050,6025211,1964,5,2018-01-05,0,11027.0,3.0,0.0,NaN,NaN,NaN,0.0,19.8616
22051,6025404,1951,3,2015-03-01,1,11025.0,2.0,0.0,-7.0,NaN,NaN,0.0,30.6464
22052,6025502,1944,11,2015-08-27,1,11025.0,1.0,0.0,-7.0,NaN,NaN,1.0,25.8025
22053,6025573,1947,10,2017-12-07,0,11027.0,5.0,0.0,NaN,NaN,NaN,0.0,27.8896
22054,6025642,1951,11,2014-11-10,1,11025.0,3.0,0.0,-7.0,NaN,NaN,1.0,24.0033
22055,6025746,1953,5,2018-03-23,0,11025.0,2.0,0.0,NaN,NaN,NaN,0.0,28.0689
22056,6025801,1959,11,2016-03-21,0,11025.0,2.0,0.0,NaN,NaN,NaN,0.0,26.2778
22057,6025905,1940,2,2016-11-08,0,11025.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
from datetime import datetime
df['day'] = 1
df['dob'] = df.apply(lambda row: datetime(row['birth_year'], row['birth_month'], row['day'] ), axis=1)
# df['age'] = df.apply(lambda row: datetime(row['assesment_year']) - datetime(row['dob']), axis=1)
# now = pd.to_datetime('now')
# df
# now
# # Timestamp('2019-04-14 00:00:43.105892')

# df['assesment_year'].astype('<m8[Y]') - df['dob'].astype('<m8[Y]')
t1 = pd.to_datetime(df['dob'])
t2 = pd.to_datetime(df['assesment_year'])
df['age'] = (t2-t1).astype('timedelta64[Y]').astype('int')
for col in ['day', 'dob', 'birth_month', 'birth_year', 'assesment_year']:
    df.pop(col)

In [18]:
# Removed other diabetes_state other than normal or diabetic
df = df[df['diabetes_status'].isin([0.0, 1.0])]
# Removed prefer not to say
df = df[df['alcohol_intake_freq'] != '-3.0']
df

/home/abhijit/anaconda3/envs/tenv/lib/python3.6/site-packages/pandas/core/ops/__init__.py:1115: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

,volume_id,sex,assesment_center_id,alcohol_intake_freq,diabetes_status,med_1,med_2,med_3,smoking_status,bmi,age
0,1000410,1,11025.0,2.0,0.0,2.0,NaN,NaN,0.0,27.2310,62
1,1000698,0,11025.0,2.0,0.0,NaN,NaN,NaN,0.0,28.6813,65
2,1000857,0,11025.0,3.0,0.0,NaN,NaN,NaN,0.0,21.7993,54
3,1000870,1,11025.0,3.0,0.0,-7.0,NaN,NaN,0.0,38.2041,58
4,1001487,0,11027.0,3.0,0.0,NaN,NaN,NaN,0.0,NaN,53
5,1002256,1,11025.0,5.0,1.0,1.0,2.0,NaN,1.0,30.0454,71
6,1002272,1,11025.0,4.0,0.0,-7.0,NaN,NaN,0.0,32.3934,59
7,1002359,0,11025.0,3.0,0.0,NaN,NaN,NaN,1.0,23.6115,65
8,1002876,0,11027.0,3.0,0.0,NaN,NaN,NaN,0.0,25.4813,63
9,1003082,1,11025.0,5.0,0.0,2.0,NaN,NaN,1.0,27.1400,65
10,1004466,1,11025.0,2.0,0.0,1.0,2.0,NaN,0.0,31.0477,65
11,1004543,1,11025.0,4.0,0.0,-7.0,NaN,NaN,0.0,23.3577,69
12,1004760,0,11025.0,2.0,0.0,NaN,NaN,NaN,0.0,25.2363,76
13,1004985,0,11025.0,4.0,0.0,NaN,NaN,NaN,-3.0,27.2118,72
14,1005032,0,11025.0,3.0,0.0,NaN,NaN,NaN,0.0,24.9182,52
15,1005188,1,11027.0,1.0,0.0,1.0,2.0,NaN,1.0,27.9543,74
16,1005379,1,11025.0,4.0,0.0,-7.0,NaN,NaN,0.0,27.2146,65
17,1005645,0,11025.0,2.0,0.0,NaN,NaN,NaN,1.0,25.1024,58
18,1005691,1,11025.0,2.0,0.0,2.0,NaN,NaN,1.0,29.9237,63
19,1006276,1,11025.0,3.0,0.0,2.0,NaN,NaN,0.0,26.0065,70
20,1006486,1,11025.0,6.0,0.0,-7.0,NaN,NaN,1.0,29.2641,64
22,1007005,1,11025.0,2.0,1.0,1.0,2.0,NaN,1.0,27.7657,67
23,1007156,0,11025.0,5.0,0.0,NaN,NaN,NaN,0.0,25.2932,57
24,1007400,0,11025.0,2.0,0.0,NaN,NaN,NaN,0.0,24.7657,65
25,1007576,0,11025.0,2.0,0.0,NaN,NaN,NaN,0.0,24.9499,59
26,1007659,0,11027.0,3.0,1.0,NaN,NaN,NaN,0.0,26.1774,54
27,1007864,0,11025.0,4.0,0.0,NaN,NaN,NaN,0.0,21.2825,63
28,1008067,0,11027.0,6.0,0.0,NaN,NaN,NaN,0.0,NaN,52
29,1008133,0,11025.0,3.0,0.0,NaN,NaN,NaN,0.0,36.1700,55
30,1008283,0,11025.0,3.0,0.0,NaN,NaN,NaN,0.0,25.3550,63
...,...,...,...,...,...,...,...,...,...,...,...
22027,6018682,1,11025.0,3.0,0.0,-7.0,NaN,NaN,1.0,27.7224,61
22028,6019116,1,11025.0,2.0,1.0,1.0,2.0,NaN,1.0,35.2327,66
22029,6019891,0,11025.0,2.0,0.0,NaN,NaN,NaN,0.0,26.4308,59
22030,6020963,1,11025.0,1.0,0.0,2.0,NaN,NaN,0.0,29.8295,75
22031,6020980,0,11025.0,4.0,0.0,NaN,NaN,NaN,0.0,26.8165,66
22032,6021199,1,11025.0,3.0,0.0,1.0,NaN,NaN,1.0,29.6702,64
22033,6021702,0,11025.0,4.0,0.0,NaN,NaN,NaN,0.0,34.4079,61
22034,6022104,1,11025.0,5.0,1.0,1.0,2.0,NaN,0.0,28.0420,76
22035,6022459,0,11027.0,4.0,0.0,NaN,NaN,NaN,1.0,NaN,62
22036,6022506,0,11027.0,3.0,0.0,NaN,NaN,NaN,1.0,23.8017,77
22037,6022527,0,11025.0,3.0,0.0,NaN,NaN,NaN,0.0,22.0188,55
22038,6022585,0,11025.0,5.0,0.0,NaN,NaN,NaN,0.0,32.4584,64
22039,6022973,1,11025.0,3.0,0.0,1.0,NaN,NaN,0.0,29.9654,72
22040,6023041,0,11025.0,4.0,0.0,NaN,NaN,NaN,0.0,25.4501,69
22041,6023309,0,11025.0,1.0,0.0,NaN,NaN,NaN,1.0,28.5384,59
22042,6023391,1,11027.0,4.0,0.0,-7.0,NaN,NaN,0.0,29.2723,54
22043,6023870,0,11025.0,4.0,0.0,NaN,NaN,NaN,1.0,23.6246,63
22044,6024261,1,11025.0,1.0,0.0,-7.0,NaN,NaN,0.0,22.3299,72
22045,6024353,1,11025.0,4.0,0.0,1.0,NaN,NaN,0.0,27.0416,58
22046,6024523,1,11025.0,2.0,0.0,-7.0,NaN,NaN,0.0,33.2748,52
22047,6024632,1,11025.0,3.0,0.0,-7.0,NaN,NaN,1.0,24.8445,62
22048,6024774,0,11025.0,4.0,0.0,NaN,NaN,NaN,0.0,27.7627,72
22049,6024791,1,11025.0,2.0,0.0,-7.0,NaN,NaN,0.0,24.8712,55
22050,6025211,0,11027.0,3.0,0.0,NaN,NaN,NaN,0.0,19.8616,53
22051,6025404,1,11025.0,2.0,0.0,-7.0,NaN,NaN,0.0,30.6464,64
22052,6025502,1,11025.0,1.0,0.0,-7.0,NaN,NaN,1.0,25.8025,70
22053,6025573,0,11027.0,5.0,0.0,NaN,NaN,NaN,0.0,27.8896,70
22054,6025642,1,11025.0,3.0,0.0,-7.0,NaN,NaN,1.0,24.0033,63
22055,6025746,0,11025.0,2.0,0.0,NaN,NaN,NaN,0.0,28.0689,64
22056,6025801,0,11025.0,2.0,0.0,NaN,NaN,NaN,0.0,26.2778,56

In [22]:
df = df[['volume_id', 'age', 'sex', 'bmi', 'diabetes_status']]
df = df.rename(columns={'bmi': 'bmi_numeric'})

KeyError: "['bmi'] not in index"

In [26]:
df = df.dropna()
df['volume_id'] = df['volume_id'].apply(lambda x: str(x)+'_20201_2_0')
df

               volume_id  age  sex  bmi_numeric  diabetes_status
0      1000410_20201_2_0   62    1      27.2310              0.0
1      1000698_20201_2_0   65    0      28.6813              0.0
2      1000857_20201_2_0   54    0      21.7993              0.0
3      1000870_20201_2_0   58    1      38.2041              0.0
5      1002256_20201_2_0   71    1      30.0454              1.0
...                  ...  ...  ...          ...              ...
22052  6025502_20201_2_0   70    1      25.8025              0.0
22053  6025573_20201_2_0   70    0      27.8896              0.0
22054  6025642_20201_2_0   63    1      24.0033              0.0
22055  6025746_20201_2_0   64    0      28.0689              0.0
22056  6025801_20201_2_0   56    0      26.2778              0.0

[20644 rows x 5 columns]

In [29]:
df.to_csv('./ukb_diabetes_basic_feats.csv', index='volume_id')

In [28]:
df

               volume_id  age  sex  bmi_numeric  diabetes_status
0      1000410_20201_2_0   62    1      27.2310              0.0
1      1000698_20201_2_0   65    0      28.6813              0.0
2      1000857_20201_2_0   54    0      21.7993              0.0
3      1000870_20201_2_0   58    1      38.2041              0.0
5      1002256_20201_2_0   71    1      30.0454              1.0
...                  ...  ...  ...          ...              ...
22052  6025502_20201_2_0   70    1      25.8025              0.0
22053  6025573_20201_2_0   70    0      27.8896              0.0
22054  6025642_20201_2_0   63    1      24.0033              0.0
22055  6025746_20201_2_0   64    0      28.0689              0.0
22056  6025801_20201_2_0   56    0      26.2778              0.0

[20644 rows x 5 columns]